section {
  margin: auto;
  max-width: 500px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
}

#gjoremalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(200, 222, 230);
  padding: 5px;
}


label {
  margin-left: 5px;

}

input:hover {
  background-color: rgb(154, 255, 255);
}

button {
  border-radius: 5px;
  border: 2px solid black;
  background-color: rgb(58, 64, 66);
  padding: 10px;
  color: white;
  max-width: 300px;
  margin: 10px;
}
button:hover {
  background-color: rgb(130, 145, 150);
}

.close {
  display: none;
}